<head><style>
      
    </style>
    </head>
    <body>
<div class="container">
    <h1>Tutte le Escapes</h1>
    <% if current_user.is_admin? %>
    <h3>Benvenuto Amministratore</h3>
    <% end %>
    <div class="d-flex justify-content-center m-3">
    <div class="mx-3">
    <input class="rounded " type="text" id="myInput"  placeholder="Cerca ...">
    <button class="btn btn-warning rounded border border-dark" onclick="myFunction()"> Cerca per luogo </button>
    <button class="btn btn-warning rounded border border-dark" onclick="myFunction2()"> Cerca per stanza</button>
    <button class="btn btn-light rounded border border-dark mx-3" onclick="location.reload()"> Mostra tutte</button>
    </div>
    
    </div>
    <table class="table table-hover" id="tabella">
        <thead>
            <tr class="table-primary">
                <th>Luogo</th>
                <th>Stanza</th>
                <th>Valutazione Media</th>
                <th>Difficoltà Media</th>
                <th>Link alla Stanza</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            <% @all.each do |escape| %>
            <tr>
                <th class="text-muted"><%= escape.Luogo %></th>
                <td><%= escape.Stanza %></td>
                <td><%= escape.mediaVoti %></td>
                <td><%= escape.mediaDiff %></td>
                <td> <% if escape.Descrizione=="" %>
                    <span>Nessun link è disponibile</span>
                    <% else %>
                    <a href=<%= escape.Descrizione%> target="_blank"><%= escape.Stanza %> sul sito di <%= escape.Luogo %> </a></td>
                    <% end %>
                <td>
                    <table style="width: 100%">
                        <% if current_user.is_admin? %>
                        <td><%= link_to "Modifica", edit_escape_path(escape.id), class: " text-danger" %></td>
                        <td>
                            <%= link_to "Elimina", escape_path(escape.id), method: :delete,
              data: { confirm: "Sei sicuro?" }, class: " text-danger" %>
                        </td>
                        <% end %>
                        <td><%= link_to "Dettagli e recensioni", escape_path(escape.id) %></td>
                    </table>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% if current_user.is_admin? %>
    <%= link_to "Aggiungi una nuova escape", new_escape_path, class: " text-danger"%>
    <%= link_to "Pagina degli utenti", admin_view_path, class: " text-danger"%>
    <% end %>
</div>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tabella");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("th")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function myFunction2() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tabella");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
</body>